//colors
$container_color: #e7f1f0;
$outline_color: #f9dcb2;
$primary_font_color: #27354f;
$nav_font_color: #a4bfba;
$footer_font_color: #a8aeb9;

//media
$tablet: 675px;
$desktop: 1250px;

//fonts
$main_font_stack: 'Montserrat', 'Arial', 'monospace';