
.container {
    background-color: $container_color;
    margin: 5em 1em 2em 1em;
    padding: 3em 1em;

    @include tablet {
        margin: 5em;
        padding: 2em 4em;
    }

    @include desktop {
        margin: 5em 5em 2em 5em;
        padding: 2em 12em;
    }
}

