.navbar__nav {
    display: grid;
    padding: 2rem 0;
    grid-template-columns: repeat(2, 1fr);

    @include tablet {
        grid-template-columns: repeat(4, 1fr);
    }
    @include desktop {
        grid-template-columns: repeat(8, auto);
    }
}
.nav__item {
    font-size: 14px;
    font-family: $main_font_stack;
    text-align: center;
    padding: 0.5em 0.2em;
    a {
        color: $nav_font_color;
    }
}